{% extends "base/base1.html" %}
{%load static %}
{% block controlbar %}
    <hr color="white">
    <p class="text-light text-justify">Hover over each preditions to view the actual predition made for that value. Incase you want to expand the scope of predition use, the textfield below. Currently the model predicts up to 12 weeks accurately</p>
    <form method="POST" class="text-light form-group">
    {% csrf_token %}
    <label for="input-request">Input Weeks to project</label>
    <input class="form-control" id="input-request" name="weeks" type="number" max=12 min=1 placeholder="Defaults to 4">
    <input type="submit" class="btn btn-primary btn-block" value="Predict">
    <form>
{% endblock controlbar %}
{% block mainbar %}
<div class="border shadow-lg" style="margin:10px">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand"> <i class="fas fa-chart-line    "></i> Weekily</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link disabled" href="#">Weekily Predictions <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'predict:predict-num' %}" tabindex="-1" aria-disabled="true">Daily Predictions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'predict:predict-month' %}" tabindex="-1" aria-disabled="true">Monthly Predictions </a>
            </li>
        </ul>
    </div>
</nav>
<br>
<p style="margin-left:20px;">starts from next week</p>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
{% for data in forecast %}
    <div class="col" style="margin:10px;">
    <div class="rounded bg-trans-white border shadow">
        <h3 class="prediction-num"><em>{{data}}</em></h3>
        <li class="{% cycle 'row1' 'row2' %} rounded-bottom lead text-center card-footer">{% cycle 'Week 1' 'Week 2' 'Week 3' 'Week 4' 'Week 5' 'Week 6' 'Week 7' 'Week 8' 'Week 9' 'Week 10' 'Week 11' 'Week 12' %}</li>
    </div>
    </div>
{% endfor %}
</div>
<br>
<br>
</div>
{% endblock mainbar %}