{% extends "base/base1.html" %}
{% load static %}

{% block controlbar %}
<br>
<p class="text-justify text-light">This section presents the graphical analysis of the labour workload with in the organisation. To view any specific analysis, please, ensure that you provide all the necessary data such that the analysis shifts to the analysis that you want to make. </p>

{% endblock controlbar %}

{% block mainbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand"> <i class="fas fa-chart-bar    "></i> Analysis</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link disabled" href="">Graphical Analysis<span class="sr-only">(current)</span></a>
            </li>
            
        </ul>
    </div>
</nav>
<br>
<header class="text-center">Analysis</header>
<br>
<div>
</div>
<section class="analysis-body">
    <div class="border border-dark rounded" height=500 width=500>
    
    <div height=500>
         {% load plotly_dash %}
      {% block content %}
     

      {% plotly_app name="dashboard" ratio=.70 %}

      {% endblock %}
    </div>

    {% plotly_footer %}
        <div class="card-body">
            <footer class="card-text"> <i class="fas fa-chart-bar    "></i> Bar Graph</footer>
        </div>
    </div>    

</section>
{% endblock mainbar %}