{% extends "base/base1.html" %}
{%load static %}
{% block mainbar %}

<header class="h1 text-center">Labour Optimization System</header>
<p class="text-center" ><small title="Labour Optimization System">LOS</small></p>
<br>
<div class="container text-justify">
<p>Utilization of labor as resource in organizations has over the years become a problem with well-equipped employees at disposal to the organization and yet not optimally utilized that is to say; the labor is either underutilized in respect to their abilities or over utilized hence less or no efficiency.</p>
<p>
    Various determinants of the labor productivity have been suggested among which is the use of technology. Currently, organizations are using the concept of specialization that is the use of individuals who are specialized in a given field to provide the services; the use of clock in systems and many mor. Even though, these would help in monitoring utilization of the labor in the organization, they cannot be used to allocate the right amount of work to the employees, and so at most times, there might be a problem of labor over utilization on the days where the work is a lot or labor under utilization on the days where there is less or no work to do for a specific group of people.</p>
    <p>
    We envision a labor market that is optimally utilized that is where organizations are able to get the best out of their employees to maximize their potential while at the same time not exploiting them. This will bring about labor optimization and hence an improvement in the efficiency of the labor therefore an increase in the organization profits.</p>


<div class="card border border-success">
    <p class="card-title text-center">About Us</p>
    <div class="card-body text-center bg-green text-light">
    <p>We are a group of four (4) fourth year Software Engineering students at College of Computing and Information
        Sciences, Makerere University.The labor Optimization System is a final year project in Partial Fulfillment of the requirements for the Award of the Degree of Bachelor of Science in software Engineering of Makerere University. The realization of the idea of the project and its management is student centered.
        
        </p>
    </div>
</div>

</div>


{% endblock mainbar %}