{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>L.O.S | Labour Optimization System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href={% static 'css/bootstrap.min.css' %} />
    <link rel='stylesheet' href={% static 'css/all.min.css' %} />
    <link rel='stylesheet' href={% static 'css/styler.css' %} />
    <link rel="icon" type="image/png" href= 'static "favicon.png"'>
    <meta name='The Muchwezi, Uganda Folklore, African Folklore, African mythology, East African mythology'></meta>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light text-light bg-green">
        <a class="navbar-brand text-light" href="#">Labour Optimization System</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="{% url 'home1' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'analysis:analysis' %}">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'predict:predict-graphs' %}">Prediction</a>
                </li>
            </ul>
            <a href="{% url 'logout'%}" class="my-2 btn btn-light my-lg-0">
                Sign Out
            </a>
        </div>
    </nav>

    <!-- Making the sidepanel -->
    <div class="row container">

        <section class="sidebar col bg-green padding h-100 rounded" style="margin:10px;">
            <a class="btn padding text-light" href="{% url 'user-details' %}">User Details</a><br>
            {% if request.user.is_superuser %}
            <a class="btn padding text-light" href="{% url 'register' %}">Create Account</a><br>
            {% endif %}
            <a class="btn padding text-light" href="{% url 'contributors' %}">Project Contributors</a><br>
            <br>


            <footer class='sidebar-footer'>
                <p class="padding text-light"><i class="fa fa-copyright" aria-hidden="true"></i> 2020</p>
            </footer>

        </section>

        <!--Making the space for the main panel-->
        <section class="mainbar col">
            {% block mainbar %}
            {% endblock mainbar %}
        </section>
    </div>


    <script type='text/javascript' src= {% static 'js/fontawesome/all.min.js' %}></script>
    <script type='text/javascript' src= {% static 'js/jquery-3.5.1.min.js' %}></script>
    <script type='text/javascript' src= {% static 'js/popper/popper.min.js' %}></script>
    <script type='text/javascript' src= {% static 'js/glm-ajax.js' %}></script>
    <script type='text/javascript' src= {% static 'js/bootstrap.min.js' %}></script>
</body>
</html>